.sides {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.bauble {
  display: none;

  @media screen and (min-width: 860px) {
    display: block;
    height: 300px;
    position: absolute;
    width: 300px;

    &.lead-a {
      left: calc(-9vw - 170px);
      top: 100vh;
    }

    &.lead-b {
      right: calc(-9vw - 170px);
      top: 280vh;
    }
  }

  @media screen and (min-width: 1200px) {
    &.lead-a {
      left: -25vw;
    }

    &.lead-b {
      right: -25vw;
    }
  }

  @media screen and (min-height: 900px) {
    &.lead-a {
      top: 70vh;
    }

    &.lead-b {
      top: 170vh;
    }
  }

  canvas {
    height: 100% !important;
    width: 100% !important;
  }
}

.candycane,
.hotchoc,
.present1,
.present2 {
  display: none;

  @media screen and (min-width: 860px) {
    display: block;
    position: absolute;
  }
}

.candycane {
  max-width: 700px;
  right: -36vw;
  top: -250px;
  transform: rotate(15deg);
  width: 60vw;

  @media screen and (min-height: 900px) {
    right: -30vw;
  }
}

.hotchoc {
  left: -42vw;
  max-width: 600px;
  top: 12vh;
  transform: rotate(8deg);
  width: 50vw;
}

.present1,
.present2 {
  max-width: 1200px;
  width: 80vw;
}

.present1 {
  left: -65vw;
  top: 180vh;
  transform: rotate(55deg);

  @media screen and (min-height: 900px) {
    top: 120vh;
  }
}

.present2 {
  right: -65vw;
  top: 110vh;
  transform: rotate(-55deg);

  @media screen and (min-height: 900px) {
    top: 60vh;
  }
}

.postcard {
  background-color: #fff;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
  bottom: 60px;
  display: flex;
  left: 100px;
  position: absolute;
  transform: translateY(calc(100vh + 400px));
  transition: transform 1s ease-in-out 1s;

  &.shown {
    transform: translateY(calc(100% + 40px)) rotate(3deg);
  }
}
