.sides {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

.bauble {
  display: none;

  @media screen and (min-width: 860px) {
    display: block;
    height: 300px;
    position: absolute;
    width: 300px;

    &.lead-a {
      left: calc(-9vw - 170px);
      top: calc(100vh - 200px);
    }

    &.lead-b {
      right: calc(-9vw - 170px);
      top: calc(200vh - 200px);
    }
  }

  @media screen and (min-width: 1200px) {
    &.lead-a {
      left: calc(-25vw);
    }

    &.lead-b {
      right: calc(-25vw);
    }
  }
}
