.page {
  background-position: top;
  overflow: hidden;
  position: relative;
  width: 100%;

  .wood {
    height: calc(100% + 100vh);
    position: absolute;
    top: -100vh;
    transform: translateY(100vh);
    transition: transform 2s ease-in-out 1s;
    width: 100%;
    z-index: -1;
  }

  &.loaded .wood {
    transform: translateY(0);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 840px;
  transform: translateY(100vh);
  transition: transform 2s ease-in-out 1s;
  width: calc(100% - 200px);

  .loaded & {
    transform: translateY(0);
  }

  .top,
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .top {
    img {
      width: 100%;
    }
  }

  .content {
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 100%;
    min-height: calc(100vh - 78px);
    padding: 0 9% 30px;

    @media (max-width: 1070px) {
      min-height: calc(100vh - 7vw);
    }
  }
}

.page-wrapper {
  position: relative;
}

header {
  text-align: center;
}

header,
main {
  padding: 20px;
}

main {
  color: #222;
  margin-bottom: 360px;
}

button {
  background: #222;
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 14px;
  position: fixed;
  right: 0;
  top: 20px;
  transition: background-color 0.2s ease;
  z-index: 2;

  &:hover {
    background: #333;
  }
}
