.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

header,
main {
  padding: 20px;
}

main {
  margin-bottom: 100px;
}

button {
  position: fixed;
  right: 40px;
  top: 40px;
}
