.page {
  background-position: top;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 840px;
  width: 100%;

  .top,
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .top {
    img {
      width: 100%;
    }
  }

  .content {
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 100%;
    min-height: calc(100vh - 81px);
    padding: 0 9% 30px;
  }
}

header {
  text-align: center;
}

header,
main {
  padding: 20px;
}

main {
  color: #222;
  margin-bottom: 100px;
}

button {
  background: #222;
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 14px;
  position: fixed;
  right: 0;
  top: 20px;
  transition: background-color 0.2s ease;

  &:hover {
    background: #333;
  }
}
